<head>
	<link rel="stylesheet" href="style.css">
</head>

<table>
	<tr>
	<td value="<%= grid["0"]["0"] %>">FOO</td>
	<td value="<%= grid["0"]["1"] %>">BAR</td>
	<td value="<%= grid["0"]["2"] %>">BAZ</td>
	</tr>
	<tr>
	<td value="<%= grid["1"]["0"] %>">FOO</td>
	<td value="<%= grid["1"]["1"] %>">BAR</td>
	<td value="<%= grid["1"]["2"] %>">BAZ</td>
	</tr>
	<tr>
	<td value="<%= grid["2"]["0"] %>">FOO</td>
	<td value="<%= grid["2"]["1"] %>">BAR</td>
	<td value="<%= grid["2"]["2"] %>">BAZ</td>
	</tr>
</table>

<form action="" method="post">
	<button name='submit' value='submit'></button>
</form>